<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="saml2AuthenticationModule" type="SolPyme.Saml2.Configuration.Saml2AuthenticationModuleSection, SolPyme.Saml2"/>
	</configSections>
	<saml2AuthenticationModule>
		<identityProviders>
			<add name="default" destinationUri="http://idp.example.com/" binding="HttpRedirect"/>
		</identityProviders>
	</saml2AuthenticationModule>
</configuration>